/* site css */

#mapid {
    width: 800px;
    height: 600px;
    margin: auto;
}

.link-faq {
    display: block;
    height: 100%;
    width: 100%;
}

.centered-list {
    list-style-position: inside;
}

/* bootstrap overrides */
